<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular</title>
</head>
<body ng-app>

    <input type="text" ng-model="query"/>
    <select ng-model="order">
        <option value="username">Organiser par nom</option>
        <option value="content">Organiser par contenu</option>
    </select>
    <div ng-init="users=[{username:'Marc', content:'yo'}, {username:'Jean', content:'yo yo yo'}, {username:'Albert', content:'yo yo yo yo'}]">
        <ul>
            <li ng-repeat="user in users | filter:query | orderBy: order">{{user | uppercase }}</li>
        </ul>

        
    </div>    
    
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js'></script>
</body>
</html>